// app style
html, body {
  font-size: #{$app-font-size};
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #{$app-font-color};
  @apply relative;
}

#app {
  // todo
}

h2,h3 {
  @apply my-2;
}

ul,li {
  @apply list-reset;
}
