// import page style
@import 'site.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #{$app-font-color};
  font-size: #{$app-font-size};

  @apply relative;
}

h2,h3 {
  @apply my-2;
}

ul,li {
  @apply list-reset;
}
